#al {
 color: #55ffff;
 background-color: #9988bb;
}
#container {
    margin-top:5px;
    margin-left:10%;
    margin-right:auto;
    margin-bottom:20px;
    border: 1px  solid black;
    padding-top:15px;
    padding-left:10px;
    padding-right:30px;
    padding-bottom:40px;
}
#bl {
 color: blue;
 background-color: red;

}
table, th, td {
   border: 1px solid black;
}
#q{
  font-size: 120%;
   font-style: italic;
   font-weight: bold;
   font-family: serif;
   color: green;

}
h2{
  background-color: green;
  color: blue;


}
