body {
	background-image: url(../img/123.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
p {
	color :red;
    font-family: verdana;
    font-size: 20px;
}
p.green{
	color :green;
    font-family: verdana;
    font-size: 20px;
}