#index1 {
	font-size: 300%;
	font-style: italic;
	font-weight: bolder;
	font-family: monospace;
	color: SteelBlue;
	margin-left: 5%;
}
#text1 {
	font-size: 250%;
	font-style: italic;
	font-weight: bold;
	fony-family: monospace;
	color: SteelBlue;
	margin-left: 5%;
}
#container {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
				
	border-style: outset;
	border-width: 15px;
	border-color: SlateGray;
				
	padding-top: auto;
	padding-left: auto;
	padding-right: auto;
	padding-bottom: auto;
}
#jsp1 {
	font-size: 300%;
	font-style: italic;
	font-weight: bolder;
	font-family: monospace;
	color: DimGray;
}
#jspt {
	font-size: 200%;
				
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
				
	border-style: dashed;
	border-width: 10px;
	border-color: #FFD382;
					
	padding-top: auto;
	padding-left: auto;
	padding-right: auto;
	padding-bottom: auto;
}