.mycolor {
    color: green; /* 指定文字顏色 */
    background-color: red; /* 指定背景顏色 */
}
#name {
	color: #1E90FF;
	font-size: 100%;
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
	}
#container { 
	border:480px;
	max-width: 480px;
	border-width:9px;
	border-style:outset;
}
#rightfloat { 
  float:right; 
}